  BasedOnStyle: Google
  AccessModifierOffset: '-2'
  AlignTrailingComments: 'false'
  AllowAllParametersOfDeclarationOnNextLine: 'false'
  AlwaysBreakTemplateDeclarations: 'No'
  BreakBeforeBraces: Attach
  ColumnLimit: '100'
  ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
  IncludeBlocks: Regroup
  IndentPPDirectives: AfterHash
  IndentWidth: '4'
  NamespaceIndentation: None
  BreakBeforeBinaryOperators: All
  BreakBeforeTernaryOperators: 'true'